*{
    background-color: #5F0113;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    padding: 100px;
    justify-content: center;
}



.container{
    width: 100%;
    height: 100%;
 
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.Logo {
    width: 150%;
}

.navBar ul{
    display: flex;
    gap: 45px;
}

.navBar > .NavHomeDecor {
    text-decoration: underline;
    color: black;
}

.navBar ul a{
    color: #FFDEF1;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4ms;
}

.navBar a:hover{
    color: grey;
}

.main > .mainImg {
    display: flex;
    align-content: end;
}

